.aside {
}
.aside-infobox {
  background-color: #f6fdfd;
  width: 15rem;
  margin-top: 5vw;
  z-index: 1;
  text-align: left;
  padding: 1rem 2rem;
  margin: auto;
}
.bottom-mobile-ad {
  background-color: #f2ccff;
  display: none;
  width: auto;
  height: auto;
}

/* Mobile view */
@media (max-width: 600px) {
  .bottom-mobile-ad {
    display: inline;
  }
  .aside-infobox {
    text-align: center;
  }
}

/* Tablet view */
@media screen and (min-width: 601px) and (max-width: 800px) {
  .bottom-mobile-ad {
    display: none;
  }
  .aside-infobox {
  }
}
