.center-section {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-column-reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

/* Mobile view */
@media (max-width: 600px) {
}

/* Tablet view */
@media screen and (min-width: 601px) and (max-width: 800px) {
}
