@import "./normalize.css";
@import "./aside.css";
@import "./content.css";
@import "./footer.css";
@import "./nav.css";
@import "./helpers.css";
@import "./hero.css";
@import "./layout.css";

:root {
  font: normal 15.5px Calibri, sans-serif;
  --text-primary: #464646;
  --text-secondary: #4f44f4;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}
